{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}
    <div class="container">
        <h1>Level: {{ difficulty }}</h1>
        <p>Time Remaining: <span id="timer">{{ timeLimit }}</span> seconds</p>
        <div class="d-flex justify-content-center">
            <p>Lives: <span id="lives">{{ gameState.lives }}</span></p>
            <div>
                <img src="{{ question }}" alt="Question Image">
                <form id="answerForm">
                    <input type="number" id="answerInput" name="answer" placeholder="Your answer" required>
                    <button type="submit">Submit</button>
                </form>
            </div>
            <p>Score: <span id="score">{{ gameState.score }}</span></p>
        </div>

    </div>


{% endblock %}



        {% block javascripts %}
            {{ parent() }}
            {{ include('game/gameScript.html.twig') }}
        {% endblock %}