{# templates/leaderboard/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Leaderboard{% endblock %}

{% block body %}
    <style>
        h3, table th, table td{
            color: #cccccc;
        }
    </style>
    <div class="container">
        <h1>Leaderboard</h1>

        <!-- Tabs for each level -->
        <ul class="nav nav-tabs" id="leaderboardTabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="easy-tab" data-toggle="tab" href="#easy" role="tab" aria-controls="easy" aria-selected="true">Easy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="medium-tab" data-toggle="tab" href="#medium" role="tab" aria-controls="medium" aria-selected="false">Medium</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="hard-tab" data-toggle="tab" href="#hard" role="tab" aria-controls="hard" aria-selected="false">Hard</a>
            </li>
        </ul>

        <div class="tab-content" id="leaderboardTabsContent">
            <div class="tab-pane fade show active" id="easy" role="tabpanel" aria-labelledby="easy-tab">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Player</th>
                        <th>Score</th>
                    </tr>
                    </thead>
                    <tbody >
                    {% set rank = 1 %}
                    {% for session in scoresByLevel['easy'] %}
                        <tr>
                            <td>{{ rank }}</td>
                            <td>{{ session.username }}</td>
                            <td>{{ session.highestScore }}</td>
                        </tr>
                        {% set rank = rank + 1 %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="medium" role="tabpanel" aria-labelledby="medium-tab">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Player</th>
                        <th>Score</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set rank = 1 %}
                    {% for session in scoresByLevel['medium'] %}
                        <tr>
                            <td>{{ rank }}</td>
                            <td>{{ session.username }}</td>
                            <td>{{ session.highestScore }}</td>
                        </tr>
                        {% set rank = rank + 1 %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="hard" role="tabpanel" aria-labelledby="hard-tab">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Player</th>
                        <th>Score</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set rank = 1 %}
                    {% for session in scoresByLevel['hard'] %}
                        <tr>
                            <td>{{ rank }}</td>
                            <td>{{ session.username }}</td>
                            <td>{{ session.highestScore }}</td>
                        </tr>
                        {% set rank = rank + 1 %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}